main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

main>div:nth-of-type(1) {
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}

main>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

main>div:nth-of-type(2)>img {
    width: 15rem;
    height: auto;
    border: none;
    border-radius: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main>div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

main>img {
    width: 50%;
    height: auto;
}

#section1 {
    text-align: center;
    width: 100%;
}

#section1>article>h2 {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 50px;
    color: var(--grey);
}

#section1>article>p {
    font-weight: bold;
    font-size: 25px;
}

#section2 {
    text-align: center;
    width: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    background-color: var(--white);
}

#section2 a {
    text-decoration: none;
    font-weight: bold;
    color: var(--lightBlue);
}

#section2 a:hover {
    text-decoration: underline;
}

#section2 div {
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#section3 {
    width: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    font-size: large;
    background-color: var(--white);
}

#section3>article>h2 {
    text-align: center;
}

#section3 ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#section3 label {
    font-weight: bolder;
    color: var(--grey);
}

#section3 a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    color: var(--lightBlue);
}

#section3 a:hover {
    text-decoration: underline;
}

#section3 p {
    color: var(--grey);
    text-align: center;
    font-weight: bolder;
    margin: 0px;
    margin-top: 1rem;
}

#section3 img {
    width: 2rem;
    height: auto;
}

#section3 div {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}