#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    margin-bottom: 2rem;
    color: var(--white);
}

#title {
    padding-left: 2rem;
    cursor: pointer;
}

#welcomeTxt {
    font-size: 20px;
    font-weight: bold;
}

#loginBtn {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
    font-weight: bold;
    background-color: var(--red);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

#navbarContainer {
    padding-right: 2rem;
}

#navbarContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}