:root {
  /* Colors */
  --grey: #29303b;
  --lightGrey: #555;
  --lighterGrey: #f4f4f4;
  --blue: #007BFF;
  --lightBlue: #3498db;
  --green: #28A745;
  --lightGreen: #5faf72;
  --red: #ec5252;
  --white: #ffffff;

  /* Fonts */
  --main-font: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #f4f4f4;
}